@charset "UTF-8";

// ------------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------------

@font-face {
  font-family: "NewEdge6666-Rounded";
  src: url("../fonts/NewEdge6666VX-LightRounded.otf") format("opentype"),
       url("../fonts/NewEdge6666VX-LightRounded.woff") format("woff"),
       url("../fonts/NewEdge6666VX-LightRounded.woff2") format("woff2");
}
@font-face {
  font-family: "cubnet";
  src: url("../fonts/cubenet-200513-2.otf") format("opentype"),
       url("../fonts/cubenet-200513-2.woff") format("woff"),
       url("../fonts/cubenet-200513-2.woff2") format("woff2");
}
// @font-face {
//   font-family: "SuisseIntlMono";
//   src: url("../fonts/SuisseIntlMono-Regular.otf") format("opentype"),
//        url("../fonts/SuisseIntlMono-Regular.woff") format("woff"),
//        url("../fonts/SuisseIntlMono-Regular.woff2") format("woff2");
// }
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$font-sans: "NewEdge6666-Rounded", sans-serif;
$font-asem: "cubnet", monospace;
// $font-mono: "SuisseIntlMono", monospace;
$font-mono: "Roboto Mono", monospace;

@mixin font-style($font-fam, $xs, $sm, $md, $lg, $xl, $letter-sp, $line-h, $weight, $style){
  font-family: $font-fam;
  font-size: $xs;
  letter-spacing: $letter-sp;
  line-height: $line-h;
  font-weight: $weight;
  font-style: $style;
  font-stretch: normal;
  @include media-breakpoint-up(sm) { font-size: $sm; }
  @include media-breakpoint-up(md) { font-size: $md; }
  @include media-breakpoint-up(lg) { font-size: $lg; }
  @include media-breakpoint-up(xl) { font-size: $xl; }  
}

// ----------------------------------------------------- xs --- sm --- md --- lg --- xl ---- lsp ---- lh ---- w --- style

@mixin font-sans-xl {  @include font-style($font-sans,   52px,  52px,  52px,  52px,  52px,   0,       1.20em, 300,  normal); }
// @mixin font-sans-l {   @include font-style($font-sans,   25px,  25px,  38px,  50px,  50px,   0,       0.90em, 300,  normal); }
@mixin font-sans-l {   @include font-style($font-sans,   7vw,   7vw,   7vw,   50px,  50px,   0,       0.90em, 300,  normal); }
@mixin font-sans-m {   @include font-style($font-sans,   17px,  17px,  21px,  25px,  25px,   0,       1.2em,  300,  normal); }
@mixin font-sans-s {   @include font-style($font-sans,   11px,  11px,  11px,  11px,  11px,   0.03em,  1.3em,  300,  normal); }

@mixin font-asem-xl {  @include font-style($font-asem,   40px,  40px,  40px,  40px,  40px,   0,       1.20em, 300,  normal); }
@mixin font-asem-l {   @include font-style($font-asem,   19px,  19px,  19px,  19px,  19px,   0,       1.20em, 300,  normal); }
@mixin font-asem-m {   @include font-style($font-asem,   11px,  11px,  11px,  11px,  11px,   0,       1.2em,  300,  normal); }
@mixin font-asem-s {   @include font-style($font-asem,    8px,   8px,   8px,   8px,   8px,   0.03em,  1.3em,  300,  normal); }

@mixin font-mono-xl {  @include font-style($font-mono,   52px,  52px,  52px,  52px,  52px,   0,       1.20em, 400,  normal); }
@mixin font-mono-l {   @include font-style($font-mono,   25px,  25px,  25px,  25px,  25px,   0,       1.20em, 400,  normal); }
@mixin font-mono-m {   @include font-style($font-mono,   15px,  15px,  15px,  15px,  15px,   0,       1.2em,  400,  normal); }
@mixin font-mono-s {   @include font-style($font-mono,   11px,  11px,  11px,  11px,  11px,   0.03em,  1.3em,  400,  normal); }

.font-sans-xl  { @include font-sans-xl; }
.font-sans-l   { @include font-sans-l; }
.font-sans-m   { @include font-sans-m; }
.font-sans-s   { @include font-sans-s; }
.font-asem-xl  { @include font-asem-xl; }
.font-asem-l   { @include font-asem-l; }
.font-asem-m   { @include font-asem-m; }
.font-asem-s   { @include font-asem-s; }
.font-mono-xl  { @include font-mono-xl; }
.font-mono-l   { @include font-mono-l; }
.font-mono-m   { @include font-mono-m; }
.font-mono-s   { @include font-mono-s; }

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

/*  
p { 
  @include font-sans-m;
  margin-bottom: 1em;
}
h1 { @include font-sans-xl; }
h2 { @include font-sans-l; }
h3 { @include font-sans-m; }
h4 { @include font-sans-m; }
h5 { @include font-sans-s; }
h6 { @include font-sans-s; }
*/

// -----------------------------------------------------------------------------
// Block styles
// -----------------------------------------------------------------------------

/*  
.block-sans-s,
.block-sans-s p {
  color: black;
  @include font-sans-s;
}

.block-sans-m,
.block-sans-m p {
  color: black;
  @include font-sans-m;
}

.block-sans-l,
.block-sans-l p {
  color: black;
  @include font-sans-l;
}
*/

